<div>
  <dl id="accordion">
    <dt><i class="fa fa-clock-o fa-fw"></i>どんなサービス？</dt>
    <dd>自分の時間を共有できるサービスです。こんなツイートが簡単にできちゃいます。</dd>
    <dt><i class="fa fa-hand-o-up fa-fw"></i>使い方</dt>
    <dd>時間・内容入力→画像作成→ツイートできます。</dd>
  </dl>
</div>

<%= form_with(model: @post, local: true, id: 'not_use') do |form| %>

  <div class="form-row" id="form-title-start">
    <div class="form-group col-7">
      <small class="text-muted">タイトル</small>
      <%= form.text_area :title, id: :title, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">開始時刻</small>
      <%= form.select :start, select_time, {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-row" id="form-end1">
    <div class="form-group col-7">
      <small class="text-muted">やったこと①</small>
      <%= form.text_area :content1, id: :content1, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end1, select_time, {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-row" id="form-end2" style="display: none;">
    <div class="form-group col-7">
      <small class="text-muted">やったこと②</small>
      <%= form.text_area :content2, id: :content2, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end2, select_time, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-2 minus-area">
      <span id="close-end2"><i class="fa fa-minus-circle fa-2x fa-fw minus-mark"></i></span>
    </div>
  </div>

  <div class="form-row" id="form-end3" style="display: none;">
    <div class="form-group col-7">
      <small class="text-muted">やったこと③</small>
      <%= form.text_area :content3, id: :content3, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end3, select_time, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-2 minus-area">
      <span id="close-end3"><i class="fa fa-minus-circle fa-2x fa-fw minus-mark"></i></span>
    </div>
  </div>

  <div class="form-row" id="form-end4" style="display: none;">
    <div class="form-group col-7">
      <small class="text-muted">やったこと④</small>
      <%= form.text_area :content4, id: :content4, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end4, select_time, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-2 minus-area">
      <span id="close-end4"><i class="fa fa-minus-circle fa-2x fa-fw minus-mark"></i></span>
    </div>
  </div>

  <div class="form-row" id="form-end5" style="display: none;">
    <div class="form-group col-7">
      <small class="text-muted">やったこと⑤</small>
      <%= form.text_area :content5, id: :content5, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end5, select_time, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-2 minus-area">
      <span id="close-end5"><i class="fa fa-minus-circle fa-2x fa-fw minus-mark"></i></span>
    </div>
  </div>

  <div class="form-row" id="form-end6" style="display: none;">
    <div class="form-group col-7">
      <small class="text-muted">やったこと⑥</small>
      <%= form.text_area :content6, id: :content6, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end6, select_time, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-2 minus-area">
      <span id="close-end6"><i class="fa fa-minus-circle fa-2x fa-fw minus-mark"></i></span>
    </div>
  </div>

  <div class="form-row" id="form-end7" style="display: none;">
    <div class="form-group col-7">
      <small class="text-muted">やったこと⑦</small>
      <%= form.text_area :content7, id: :content7, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end7, select_time, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-2 minus-area">
      <span id="close-end7"><i class="fa fa-minus-circle fa-2x fa-fw minus-mark"></i></span>
    </div>
  </div>

  <div class="form-row" id="form-end8" style="display: none;">
    <div class="form-group col-7">
      <small class="text-muted">やったこと⑧</small>
      <%= form.text_area :content8, id: :content8, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end8, select_time, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-2 minus-area">
      <span id="close-end8"><i class="fa fa-minus-circle fa-2x fa-fw minus-mark"></i></span>
    </div>
  </div>

  <div class="form-row" id="form-end9" style="display: none;">
    <div class="form-group col-7">
      <small class="text-muted">やったこと⑨</small>
      <%= form.text_area :content9, id: :content9, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end9, select_time, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-2 minus-area">
      <span id="close-end9"><i class="fa fa-minus-circle fa-2x fa-fw minus-mark"></i></span>
    </div>
  </div>

  <div class="form-row" id="form-end10" style="display: none;">
    <div class="form-group col-7">
      <small class="text-muted">やったこと⑩</small>
      <%= form.text_area :content10, id: :content10, class:'form-control', rows:"1" %>
    </div>

    <div class="form-group col-3">
      <small class="text-muted">終了時刻</small>
      <%= form.select :end10, select_time, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-2 minus-area">
      <span id="close-end10"><i class="fa fa-minus-circle fa-2x fa-fw minus-mark"></i></span>
    </div>
  </div>

  <div id="plus-button"><i class="fa fa-plus-circle fa-2x fa-fw plus-mark"></i></div>
<% end %>

<div id='example'>
  <p>こんなツイートが簡単にできるよ！</p>
  ここに画像
</div>

<div id="chart-container">
  <canvas id="myChart" width="315" height="166"></canvas>
</div>

<div id="conf-button">
  <button id="save-button" class="square_btn"><i class="fa fa-check fa-fw"></i>画像を確認する</button>
  <br>
  <small class="text-muted">画像確認後にツイートするかを決めます</small>
</div>

<% if @hash.present? %>
  <div id="recent-img">
    <i class="fa fa-star fa-fw"></i>最近作成された画像<br>
    <small class="text-muted">今までに<%= @count %>個の画像が作られたよ</small><br>
    <% if @hash[2].present? %>
      <img src="https://s3-ap-northeast-1.amazonaws.com/myday-production/images/<%= @hash[2] %>.png" class="r-img"/>
    <% end %>
    <% if @hash[1].present? %>
      <img src="https://s3-ap-northeast-1.amazonaws.com/myday-production/images/<%= @hash[1] %>.png" />
    <% end %>
    <img src="https://s3-ap-northeast-1.amazonaws.com/myday-production/images/<%= @hash[0] %>.png" />
  </div>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script>

  $(function(){

    const title_form = $("#title")
    const start_form = $("#start")
    const content1_form = $("#content1")
    const end1_form = $("#end1")
    const content2_form = $("#content2")
    const end2_form = $("#end2")
    const content3_form = $("#content3")
    const end3_form = $("#end3")
    const content4_form = $("#content4")
    const end4_form = $("#end4")
    const content5_form = $("#content5")
    const end5_form = $("#end5")
    const content6_form = $("#content6")
    const end6_form = $("#end6")
    const content7_form = $("#content7")
    const end7_form = $("#end7")
    const content8_form = $("#content8")
    const end8_form = $("#end8")
    const content9_form = $("#content9")
    const end9_form = $("#end9")
    const content10_form = $("#content10")
    const end10_form = $("#end10")

    title_form.blur(function(){
      display();
    });
    start_form.change(function (){
      display();
    });
    content1_form.blur(function(){
      display();
    });
    end1_form.change(function (){
      display();
    });
    content2_form.blur(function(){
      display();
    });
    end2_form.change(function (){
      display();
    });
    content3_form.blur(function(){
      display();
    });
    end3_form.change(function (){
      display();
    });
    content4_form.blur(function(){
      display();
    });
    end4_form.change(function (){
      display();
    });
    content5_form.blur(function(){
      display();
    });
    end5_form.change(function (){
      display();
    });
    content6_form.blur(function(){
      display();
    });
    end6_form.change(function (){
      display();
    });
    content7_form.blur(function(){
      display();
    });
    end7_form.change(function (){
      display();
    });
    content8_form.blur(function(){
      display();
    });
    end8_form.change(function (){
      display();
    });
    content9_form.blur(function(){
      display();
    });
    end9_form.change(function (){
      display();
    });
    content10_form.blur(function(){
      display();
    });
    end10_form.change(function (){
      display();
    });

    var display = function (){
      var title = $("#title").val();
      var start = $("#start").val();
      var content1 = $("#content1").val();
      var end1 = $("#end1").val();
      var content2 = $("#content2").val();
      var end2 = $("#end2").val();
      var content3 = $("#content3").val();
      var end3 = $("#end3").val();
      var content4 = $("#content4").val();
      var end4 = $("#end4").val();
      var content5 = $("#content5").val();
      var end5 = $("#end5").val();
      var content6 = $("#content6").val();
      var end6 = $("#end6").val();
      var content7 = $("#content7").val();
      var end7 = $("#end7").val();
      var content8 = $("#content8").val();
      var end8 = $("#end8").val();
      var content9 = $("#content9").val();
      var end9 = $("#end9").val();
      var content10 = $("#content10").val();
      var end10 = $("#end10").val();

      if (start != "" && content1 != "" && end1 != ""){
        $('#example').css('display','none');
        $('#conf-button').css('display','block');
        $('#myChart').css('display','inline-block');
        $('#chart-container').css('height','170');

        var dataset = [{
          label: content1,
          data: [end1],
          backgroundColor: 'rgba(255, 99, 132, 0.5)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 1
        }]
        if (content2 != "" && end2 != "") {
          dataset.push({
            label: content2,
            data: [end2 - end1],
            backgroundColor: 'rgba(255, 159, 64, 0.5)',
            borderColor: 'rgba(255, 159, 64, 1)',
            borderWidth: 1
          });
        }
        if (content3 != "" && end3 != "") {
          dataset.push({
            label: content3,
            data: [end3 - end2],
            backgroundColor: 'rgba(255, 206, 86, 0.5)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1
          });
        }
        if (content4 != "" && end4 != "") {
          dataset.push({
            label: content4,
            data: [end4 - end3],
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          });
        }
        if (content5 != "" && end5 != "") {
          dataset.push({
            label: content5,
            data: [end5 - end4],
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          });
        }
        if (content6 != "" && end6 != "") {
          dataset.push({
            label: content6,
            data: [end6 - end5],
            backgroundColor: 'rgba(153, 102, 255, 0.5)',
            borderColor: 'rgba(153, 102, 255, 1)',
            borderWidth: 1
          });
        }
        if (content7 != "" && end7 != "") {
          dataset.push({
            label: content7,
            data: [end7 - end6],
            backgroundColor: 'rgba(179, 179, 179, 0.5)',
            borderColor: 'rgba(179, 179, 179, 1)',
            borderWidth: 1
          });
        }
        if (content8 != "" && end8 != "") {
          dataset.push({
            label: content8,
            data: [end8 - end7],
            backgroundColor: 'rgba(245, 176, 144, 0.5)',
            borderColor: 'rgba(245, 176, 144, 1)',
            borderWidth: 1
          });
        }
        if (content9 != "" && end9 != "") {
          dataset.push({
            label: content9,
            data: [end9 - end8],
            backgroundColor: 'rgba(245, 176, 144, 0.5)',
            borderColor: 'rgba(245, 176, 144, 1)',
            borderWidth: 1
          });
        }
        if (content10 != "" && end10 != "") {
          dataset.push({
            label: content10,
            data: [end10 - end9],
            backgroundColor: 'rgba(242, 229, 92, 0.5)',
            borderColor: 'rgba(242, 229, 92, 0.5)',
            borderWidth: 1
          });
        }

        // 背景色の設定
        Chart.plugins.register({
          beforeDraw: function(ch){
            var ctx = ch.chart.ctx;
            ctx.fillStyle ="#FFFFFF";
            ctx.fillRect(0, 0, ch.chart.width, ch.chart.height);
          }
        });

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: {
            datasets: dataset
          },
          options: {
            responsive: false,
            title: {
              display: true,
              text: title,
              fontSize: 18,
              padding: 2
            },
            scales: {
              xAxes: [{
                stacked: true,
                ticks: {
                  // suggestedMax: 26,
                  min: start,
                  stepSize: 1,
                  fontSize: 10,
                  callback: function(value, index, values){
                    return  value +  '時'
                  }
                }
              }],
              yAxes: [{
                barThickness: 20,
                stacked: true
              }]
            },
          }
        });

        var canvas = document.getElementById('myChart');
        canvas.width = 315;
        canvas.height = 166;

      } else {
        console.log("入力が足りないよ〜");
      }
    }

    $("#plus-button").on("click", function () {
      if($('#form-end2').css('display') === 'none'){
        $('#form-end2').css('display', '');
      } else if($('#form-end3').css('display') === 'none'){
        $('#form-end3').css('display', '');
        $('#close-end2').css('display', 'none');
      } else if($('#form-end4').css('display') === 'none'){
        $('#form-end4').css('display', '');
        $('#close-end3').css('display', 'none');
      } else if($('#form-end5').css('display') === 'none'){
        $('#form-end5').css('display', '');
        $('#close-end4').css('display', 'none');
      } else if($('#form-end6').css('display') === 'none'){
        $('#form-end6').css('display', '');
        $('#close-end5').css('display', 'none');
      } else if($('#form-end7').css('display') === 'none'){
        $('#form-end7').css('display', '');
        $('#close-end6').css('display', 'none');
      } else if($('#form-end8').css('display') === 'none'){
        $('#form-end8').css('display', '');
        $('#close-end7').css('display', 'none');
      } else if($('#form-end9').css('display') === 'none'){
        $('#form-end9').css('display', '');
        $('#close-end8').css('display', 'none');
      } else if($('#form-end10').css('display') === 'none'){
        $('#form-end10').css('display', '');
        $('#close-end9').css('display', 'none');
        $('#plus-button').css('display', 'none');
      }
    });

    $("#close-end2").on("click", function () {
      $('#form-end2').css('display', 'none');
      $("#content2").val("")
      $("#end2").val("")
      display();
    });
    $("#close-end3").on("click", function () {
      $('#form-end3').css('display', 'none');
      $("#content3").val("")
      $("#end3").val("")
      $('#close-end2').css('display', '');
      $('#plus-button').css('display', '');
      display();
    });
    $("#close-end4").on("click", function () {
      $('#form-end4').css('display', 'none');
      $("#content4").val("")
      $("#end4").val("")
      $('#close-end3').css('display', '');
      $('#plus-button').css('display', '');
      display();
    });
    $("#close-end5").on("click", function () {
      $('#form-end5').css('display', 'none');
      $("#content5").val("")
      $("#end5").val("")
      $('#close-end4').css('display', '');
      $('#plus-button').css('display', '');
      display();
    });
    $("#close-end6").on("click", function () {
      $('#form-end6').css('display', 'none');
      $("#content6").val("")
      $("#end6").val("")
      $('#close-end5').css('display', '');
      $('#plus-button').css('display', '');
      display();
    });
    $("#close-end7").on("click", function () {
      $('#form-end7').css('display', 'none');
      $("#content7").val("")
      $("#end7").val("")
      $('#close-end6').css('display', '');
      $('#plus-button').css('display', '');
      display();
    });
    $("#close-end8").on("click", function () {
      $('#form-end8').css('display', 'none');
      $("#content8").val("")
      $("#end8").val("")
      $('#close-end7').css('display', '');
      $('#plus-button').css('display', '');
      display();
    });
    $("#close-end9").on("click", function () {
      $('#form-end9').css('display', 'none');
      $("#content9").val("")
      $("#end9").val("")
      $('#close-end8').css('display', '');
      $('#plus-button').css('display', '');
      display();
    });
    $("#close-end10").on("click", function () {
      $('#form-end10').css('display', 'none');
      $("#content10").val("")
      $("#end10").val("")
      $('#close-end9').css('display', '');
      $('#plus-button').css('display', '');
      display();
    });

    $("#save-button").on("click", function () {
      // 処理前に Loading 画像を表示
      var data = ['大大吉','大吉','中吉','小吉','凶（ごめんね）'];
      var word = data[Math.floor(Math.random() * data.length)];
      dispLoading(`画像作成中...今日の運勢は...${word}`);

      // 生成する文字列の長さ
      var l = 8;
      // 生成する文字列に含める文字セット
      var c = "abcdefghijklmnopqrstuvwxyz0123456789";
      var cl = c.length;
      var hash = "";
      for(var i=0; i<l; i++){
        hash += c[Math.floor(Math.random()*cl)];
      }

      var myChart = document.getElementById("myChart");
      var title = $("#title").val();

      // Base64へ変換
      var imgData = myChart.toDataURL();

      $.ajax({
        url: '/make',
        type: 'POST',
        dataType: 'json',
        async: true,
        data: {imgData: imgData, hash: hash, title: title},
      }).done(function(data){
        removeLoading();
        swal({
          type: 'success',
          // title: 'Let\'s BigTweet!',
          text: '画像完成! Let\'s share!',
          imageUrl: `https://s3-ap-northeast-1.amazonaws.com/myday-production/images/${hash}.png`,
          imageWidth: 315,
          imageAlt: 'Custom image',
          showConfirmButton: false,
          showCloseButton: true,
          background: '#E6EFFA',
          footer: `<a href=https://twitter.com/share?text=%23myday&url=https://myday.herokuapp.com?h=${hash} class=modal_btn><i class="fa fa-twitter fa-fw"></i>Twitterシェア</a>`,
        })
      });
    });

    // //todo 直す！
    // // 前の時間以降しか選択肢に出さなくする制御
    // $('#start').change(function() {
    //   const text = $('option:selected').text();
    //
    //   // 消した選択肢を戻すためだが、現状一回全部消えて、もう一度選択肢直すと再度時間が出てくる未完全な仕様になってる
    //   $("#start option").clone().appendTo($("#end1"));
    //
    //   $('#end1 option').each( function(){
    //     console.log($(this).text())
    //     if($(this).text() == text) {
    //       $(this).remove();
    //       return false;
    //     } else {
    //       $(this).remove();
    //     }
    //   });
    // });
    //
    // $('#end1').change(function() {
    //   const text = $('option:selected').text();
    //
    //   // 消した選択肢を戻すためだが、現状一回全部消えて、もう一度選択肢直すと再度時間が出てくる未完全な仕様になってる
    //   $("#start option").clone().appendTo($("#end2"));
    //
    //   $('#end2 option').each( function(){
    //
    //     if($(this).text() == text) {
    //       $(this).remove();
    //       return false;
    //     } else {
    //       $(this).remove();
    //     }
    //   });
    // });

  });

// 使い方の説明など
$(function() {
  $('#accordion dd').hide();
  $('#accordion dt').click(function(){
    $(this).next('dd').slideToggle()
  })
});

/* ------------------------------
 Loading イメージ表示関数
 引数： msg 画面に表示する文言
 ------------------------------ */
function dispLoading(msg){
  // 引数なし（メッセージなし）を許容
  if( msg == undefined ){
    msg = "";
  }
  // 画面表示メッセージ
  var dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
  // ローディング画像が表示されていない場合のみ出力
  if($("#loading").length == 0){
    $("body").append("<div id='loading'>" + dispMsg + "</div>");
  }
}

/* ------------------------------
 Loading イメージ削除関数
 ------------------------------ */
function removeLoading(){
  $("#loading").remove();
}

</script>
