<!DOCTYPE html>
<html>
  <head>
    <title>Myday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# レスポンシブ対応 %>
    <meta name="viewport" content="width=device-width">

    <%# Twitterカード %>
    <% twitter_card = get_twitter_card_info(@h ? @h : nil) %>
    <meta name="twitter:card" content=<%=twitter_card[:card]%> />
    <meta property="og:url" content=<%=twitter_card[:url]%> />
    <meta property="og:title" content=<%=twitter_card[:title]%> />
    <meta property="og:description" content=<%=twitter_card[:description]%> />
    <meta property="og:image" content=<%=twitter_card[:image]%> />

    <%# Google Font %>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  </head>

  <body>
    <div class="header">
      <a href="/" style="color: white;">いちにち<small>を</small>シェア</a>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div>
        <%= link_to '利用規約', terms_path %> / <%= link_to 'プライバシーポリシー', privacy_path %>
      </div>
      <div id="account">
        <a href="https://twitter.com/ysk_pro" target="_blank"><i class="fa fa-twitter fa-fw"></i>開発者Twitterアカウント</a>
      </div>
    </footer>
  </body>
</html>
